.icon-dic{
	background:url('icons/dic.png') no-repeat;
}
.icon-enable{
	background:url('icons/enable.png') no-repeat;
}
.icon-stop{
	background:url('icons/stop.png') no-repeat;
}.icon-theme{
	background:url('icons/theme.png') no-repeat;
}
.icon-database{
	background:url('icons/database.png') no-repeat;
}
.icon-auth{
	background:url('icons/auth.png') no-repeat;
}
.icon-role{
	background:url('icons/role.png') no-repeat;
}
.icon-orange{
	background:url('icons/orange.png') no-repeat;
}
.icon-user{
	background:url('icons/user.png') no-repeat;
}
.icon-menu{
	background:url('icons/menu.png') no-repeat;
}
.icon-group{
	background:url('icons/group.png') no-repeat;
}
.icon-bug{
	background:url('icons/bug.png') no-repeat;
}
.icon-druid{
	background:url('icons/druid.png') no-repeat;
}
.icon-panel{
	background:url('icons/panel.png') no-repeat;
}
.icon-quit{
	background:url('icons/quit.png') no-repeat;
}
.icon-blank{
	background:url('icons/blank.png') no-repeat;
}
.icon-add{
	background:url('icons/edit_add.png') no-repeat;
}
.icon-edit{
	background:url('icons/pencil.png') no-repeat;
}
.icon-remove{
	background:url('icons/edit_remove.png') no-repeat;
}
.icon-save{
	background:url('icons/filesave.png') no-repeat;
}
.icon-cut{
	background:url('icons/cut.png') no-repeat;
}
.icon-ok{
	background:url('icons/ok.png') no-repeat;
}
.icon-no{
	background:url('icons/no.png') no-repeat;
}
.icon-cancel{
	background:url('icons/cancel.png') no-repeat;
}
.icon-reload{
	background:url('icons/reload.png') no-repeat;
}
.icon-search{
	background:url('icons/search.png') no-repeat;
}
.icon-print{
	background:url('icons/print.png') no-repeat;
}
.icon-help{
	background:url('icons/help.png') no-repeat;
}
.icon-undo{
	background:url('icons/undo.png') no-repeat;
}
.icon-redo{
	background:url('icons/redo.png') no-repeat;
}
.icon-back{
	background:url('icons/back.png') no-repeat;
}
.icon-sum{
	background:url('icons/sum.png') no-repeat;
}
.icon-tip{
	background:url('icons/tip.png') no-repeat;
}

.icon-mini-add{
	background:url('icons/mini_add.png') no-repeat 2px 2px;
}
.icon-mini-edit{
	background:url('icons/mini_edit.png') no-repeat 2px 2px;
}
.icon-mini-refresh{
	background:url('icons/mini_refresh.png') no-repeat 3px 2px;
}